{% load i18n %}
{% load sentry_helpers %}
{% load static_compiler %}
{% get_sentry_version %}

<!DOCTYPE html>
<html>
<head>
    <base href="/">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}Sentry{% endblock %}</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% url 'sentry-media' "sentry" "images/favicon.ico" %}" rel="shortcut icon" type="image/png"/>

    <link rel="stylesheet" href="{% url 'sentry-media' 'sentry' 'vendor/bootstrap/dist/css/bootstrap.css' %}">

    {% staticbundle 'sentry/css/sentry-simple.min.css' %}

    <script data-main="{% url 'sentry-media' 'sentry' 'app/main' %}"
            src="{% url 'sentry-media' 'sentry' 'vendor/requirejs/require.js' %}"></script>
    <script src="{% url 'sentry-media' 'sentry' 'vendor/raven/raven.js' %}"></script>

</head>
<body>
    <div ui-view>Loading...</div>
</body>
</html>
