{% extends "sentry/bases/modal.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load sentry_helpers %}

{% block title %}{% trans "Confirm Password" %} | {{ block.super }}{% endblock %}

{% block body %}
    <div class="panel panel-default" ng-controller="LoginSudoCtrl">
        <div class="panel-heading">
            {% trans "Confirm Password" %}
        </div>
        <div class="panel-body">
            <form action="." method="POST" target="_self">
                {% csrf_token %}

                <div class="form-group">
                  <img src="{% gravatar_url user.email size 20 %}"> {% blocktrans %}Help us keep your account safe by confirming your password.{% endblocktrans %}
                </div>

                {% for field in form %}
                    {{ field|as_crispy_field }}
                {% endfor %}

                <button class="btn btn-primary">{% trans "Confirm" %}</button>
            </form>
        </div>
    </div>
{% endblock %}
