{% extends "sentry/layouts/base.html" %}

{% load i18n %}
{% load sentry_helpers %}

{% block title %}{% trans "Account Settings" %} | {{ block.super }}{% endblock %}

{% block main %}
    <div class="page-header">
        <h3>{% trans "Account Settings" %}</h3>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <ul class="nav nav-pills nav-stacked">
                <li{% if page == 'settings' %} class="active"{% endif %}><a href="{% url 'sentry-account-settings' %}">{% trans "Account" %}</a></li>
                <li{% if page == 'appearance' %} class="active"{% endif %}><a href="{% url 'sentry-account-settings-appearance' %}">{% trans "Appearance" %}</a></li>
                <li{% if page == 'notifications' %} class="active"{% endif %}><a href="{% url 'sentry-account-settings-notifications' %}">{% trans "Notifications" %}</a></li>
                <li{% if page == 'identities' %} class="active"{% endif %}><a href="{% url 'sentry-account-settings-identities' %}">{% trans "Identities" %}</a></li>
            </ul>
        </div>
        <div class="col-sm-9">
            {% block inner %}

            {% endblock %}
        </div>
    </div>
{% endblock %}
