{% extends "sentry/teams/manage.html" %}

{% load i18n %}
{% load sentry_helpers %}

{% block inner %}
<table class="table table-settings">
    <colgroup>
        <col>
        <col width="140px">
    </colgroup>
    <thead>
        <tr>
            <th><h4>{% trans "Project" %}</h4></th>
            <th style="text-align:right;">
                <a href="{% url 'sentry-new-project' team.slug %}"
                   class="btn btn-default btn-sm pull-right">{% trans "New Project" %}</a>
            </th>
        </tr>
    </thead>
    {% if project_list %}
        <tbody>
            {% for project in project_list %}
                <tr>
                    <td>
                        <a href="{% url 'sentry-manage-project' project.team.slug project.slug %}">{{ project.name }}</a>
                        {% if project.status == STATUS_HIDDEN %}
                            (pending deletion)
                        {% endif %}<br>
                         {{ team.slug }}/{{ project.slug }}
                    </td>
                    <td style="text-align:right;">
                        {{ project.date_added|timesince }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    {% endif %}
</table>
{% endblock %}
