{% extends "sentry/layouts/base.html" %}

{% load i18n %}
{% load sentry_activity %}
{% load sentry_helpers %}
{% load sentry_plugins %}

{% block title %}{% if event %}{{ event.error }}{% else %}{{ group.message }}{% endif %} | {{ block.super }}{% endblock %}

{% block main %}
    {% handle_before_events request group %}

    <a href="{% url 'sentry-stream' project.team.slug project.slug %}">
        <span class="icon-arrow-left back-button"></span>
    </a>

    <section class="group-detail">
      <div class="row">
          <div class="col-xs-9 details">
            <h3>{{group.title}}</h3>
            <div class="meta">
                <time time-since="selectedGroup.lastSeen"></time> &middot;
                <span class="message">{{group.message_short}}</span>
            </div>
          </div>
          <div class="col-xs-3 occurrences">
            <div class="row">
              <div class="col-xs-6 occurences align-right"><span class="count">{{group.times_seen|small_count}}</span> occurences</div>
              <div class="col-xs-6 users align-right"><span class="count">209</span> users</div>
            </div>
          </div>
      </div>
      {% if seen_by_faces %}
      <div class="seen-by">
        <ul>
          <li>Seen by</li>
            {% for s_user, s_last_seen in seen_by_faces %}
                <li>
                    <img src="{% gravatar_url s_user.email size 32 %}" class="tip" rel="tooltip" title="<strong>{{ s_user|user_display_name|force_escape }}</strong><br>{{ s_last_seen|timesince }}">
                </li>
            {% endfor %}
            {% if seen_by_extra %}
                <li class="tip" rel="tooltip" title="{% for s_user, _ in seen_by %}- {{ s_user|user_display_name|force_escape }}<br>{% endfor %}">
                    &middot;&middot;&middot;
                </li>
            {% endif %}
        </ul>
      </div>
      {% endif %}
      <div class="group-actions">
        <div class="btn-group">
          <a href="#" class="btn btn-default btn-sm"><span class="icon-checkmark"></span></a>
          <a href="#" class="btn btn-default btn-sm"><span class="icon-bookmark"></span></a>
        </div>
        <div class="btn-group">
          <a href="#" class="btn btn-default btn-sm"><span class="icon-trash"></span></a>
        </div>
        <div class="btn-group">
          <a href="#" class="btn btn-default btn-sm">More <span class="icon-arrow-down"></span></a>
        </div>
      </div>
    </section>

    <section class="group-body">
      <div class="row">
          <div class="col-sm-9">
              <section>
                {% block inner %}
                    {% include "sentry/includes/event-details.html" %}
                {% endblock %}
              </section>
          </div>
          <div class="col-sm-3">
              <div class="box">
                  <div class="box-content graph">
                      <ul class="nav nav-links">
                        <li ng-class="chartNumDays == 1 ? 'active' : ''"><a href="javascript:void(0)" ng-click="chartNumDays = 1">24h</a></li>
                        <li ng-class="chartNumDays == 14 ? 'active' : ''"><a href="javascript:void(0)" ng-click="chartNumDays = 14">2w</a></li>
                        <li ng-class="chartNumDays == 30 ? 'active' : ''"><a href="javascript:void(0)" ng-click="chartNumDays = 30">30d</a></li>
                      </ul>
                      <barchart ng-if="historicalGroupData" ng-model="historicalGroupData" width="100%" height="60" style="display:block"></barchart>
                  </div>
                </div>

              <ul class="nav nav-pills nav-stacked">
                <li{% if page == 'details' %} class="active"{% endif %}><a href="{% url 'sentry-group' group.team.slug group.project.slug group.id %}">Aggregate</a></li>
                <li{% if page == 'tag_list' %} class="active"{% endif %}>
                    <a href="{% url 'sentry-group-tags' group.team.slug group.project.slug group.id %}">{% trans "Tags" %}</a>
                </li>
                <li{% if page == 'event_list' or page == 'event' %} class="active"{% endif %}>
                    <a href="{% url 'sentry-group-events' group.team.slug group.project.slug group.id %}">{% trans "Similar Events" %}</a>
                </li>
              </ul>

            <h6>{% trans "Aggregate Details" %}</h6>

            <dl class="flat">
                <dt>{% trans "Status:" %}</dt>
                <dd>{{ group.get_status_display|title }}</dd>
                <dt>{% trans "First Seen:" %}</dt>
                <dd class="pretty-date" data-datetime="{% localized_datetime group.first_seen "c" %}">{{ group.first_seen|timesince }}</dd>
                {% if group.active_at and group.active_at != group.first_seen %}
                    <dt>{% trans "Reopened At:" %}</dt>
                    <dd class="pretty-date" data-datetime="{% localized_datetime group.active_at "c" %}">{{ group.active_at|timesince }}</dd>
                {% endif %}
                <dt>{% trans "Last Seen:" %}</dt>
                <dd class="pretty-date" data-datetime="{% localized_datetime group.last_seen "c" %}">{{ group.last_seen|timesince }}</dd>
                {% if group.avg_time_spent %}
                    <dt>{% trans "Avg Duration:" %}</dt>
                    <dd>{% if group.avg_time_spent %}{{ group.avg_time_spent|duration }}{% else %}<em>{% trans "n/a" %}</em>{% endif %}</dd>
                {% endif %}
            </dl>

            <!--- there is probably a less terrible way to do things like this -->
            <p id="public-status"><small>
                <span data-public="true"{% if not group.project.public and not group.is_public %} style="display: none;"{% endif %}>
                    {% trans "This event is <strong>publicly visible</strong>." %}
                </span>
                <span data-public="false"{% if group.project.public or group.is_public %} style="display: none;"{% endif %}>
                    {% trans "This event is <strong>not publicly visible</strong>." %}
                </span>
                <span data-public="true"{% if not group.project.public and not group.is_public %} style="display: none;"{% endif %}>
                    <a href="{% url 'sentry-group' group.team.slug group.project.slug group.id %}">{% trans "Link" %}</a>{% if can_admin_event and not group.project.public %} | {% endif %}
                </span>
                {% if can_admin_event and not group.project.public %}
                    <span data-public="true"{% if not group.is_public %} style="display: none;"{% endif %}>
                        <a href="javascript:void(0)" data-api-url="{% url 'sentry-api-set-group-private' group.team.slug group.project.slug group.id %}" class="action">{% trans "Change" %}</a>
                    </span>
                    <span data-public="false"{% if group.is_public %} style="display: none;"{% endif %}>
                        <a href="javascript:void(0)" data-api-url="{% url 'sentry-api-set-group-public' group.team.slug group.project.slug group.id %}" class="action">{% trans "Change" %}</a>
                    </span>
                {% endif %}
            </small></p>

            {% if can_admin_event %}
                <ul class="nav nav-list">
                    <li class="nav-header">{% trans "Actions" %}</li>
                    {% if not group.is_muted %}
                        <li><a href="{% url 'sentry-api-set-group-mute' group.team.slug project.slug group.id %}">{% trans "Mute Event" %}</a></li>
                    {% elif not group.is_resolved %}
                        <li><a href="{% url 'sentry-api-set-group-unresolve' group.team.slug project.slug group.id %}">{% trans "Unmute Event" %}</a></li>
                    {% endif %}

                    {% for label, link, is_active in group|get_actions:request %}
                        <li><a href="{{ link }}">{{ label }}</a></li>
                    {% endfor %}
                    {% comment %}<li><a {% ifequal page 'event_list' %}{% if event %}
                    href="{% url 'sentry-group-event-json' group.team.slug project.slug group.id event.id %}"{% else %}
                    href="{% url 'sentry-group-event-json' group.team.slug project.slug group.id "latest" %}"{% endif %}{% else %}
                    href="{% url 'sentry-group-events-json' group.team.slug project.slug group.id %}"{% endifequal %}
                    >{% trans "Raw JSON Data" %}</a></li>{% endcomment %}
                    <li><a href="{% url 'sentry-api-remove-group' group.team.slug project.slug group.id %}"
                           onclick="return confirm('{% trans "Are you sure you wish to delete all data for this event?" %}');">{% trans "Remove Event Data" %}</a></li>
                </ul>
            {% endif %}

            {% for tag in group.get_tags %}
                {% render_tag_widget group tag %}
            {% endfor %}

            {% for html in group|get_widgets:request %}
                {{ html|safe }}
            {% endfor %}

          </div>
      </div>
    </section>
{% endblock %}
