/**
 * Sentry Color Palette
 * ============================================================================
 */

@blue: #2BABF3;
@blue-light: #60C0F6;
@blue-dark: #228BCA;

@green: #82BC00;
@green-light: #A1CC40;
@green-dark: #689900;

@yellow: #FFC600;
@yellow-light: #FFD440;
@yellow-dark: #CDA100;

@orange: #E75405;
@orange-light: #ED7E43;
@orange-dark: #B94404;

@red: #D9280E;
@red-light: #E25D4A;
@red-dark: #AE200B;

@purple: #6575DB;
@purple-light: #8B97E4;
@purple-dark: #515FB6;

@gray: #6F7E94;
@gray-light: #94A0B3;
@gray-lighter: #BAC2D3;
@gray-lightest: #D6DBE4;
@gray-dark: #546076;
@gray-darker: #394359;
@gray-darkest: #1E263C;

@white: #FFFFFF;
@white-dark: #FBFBFC;
@white-darker: #F7F8F9;

/**
 * Shortcuts
 * ============================================================================
 */

@link-color: @blue;
@link-color-hover: @blue-dark;

@header-bg-color: @gray-dark;

@trim: @gray-lightest;
