<div class="row">
    <div class="col-sm-7 description">
        <h5>Exception</h5>
        <p><strong>Type</strong> value</p>
    </div>
    <div class="col-sm-5">
        <div class="graph">
            <div class="scale">
                <div class="scale-line scale-line-0">
                    <span class="scale-label">0s</span>
                </div>
                <div class="scale-line scale-line-25">
                    <span class="scale-label">30s</span>
                </div>
                <div class="scale-line scale-line-50">
                    <span class="scale-label">60s</span>
                </div>
                <div class="scale-line scale-line-75">
                    <span class="scale-label">90s</span>
                </div>
            </div>
            <div class="blip-container" style="margin-left: 10%;">
                <div class="blip"></div>
                <div class="blip-label">10s</div>
            </div>
        </div>
    </div>

    <div class="">
        {{#each values}}
        {{#each stacktrace}}
            <div class="frame">
                <div class="frame-heading">
                <a class="context-toggle">Hide context</a>
                <strong>{{filename}}:{{line}}</strong> in <code>{{function}}</code></div>
                <div class="context">
                    <pre class="prettyprint linenums:73"></pre>
                    <div class="stack">
                        <table class="table">
                            <tr>
                                <th>callback</th>
                                <td class="values">
                                <pre>&lt;function <span></span>search_tag<span></span>s at 0x4d9<span></span>4140&gt;</pre>
                                </td>
                            </tr>
                            <tr>
                                <th>callback_args</th>
                                <td class="values">
                                    <table class="table table-striped vars">
                                        <colgroup>
                                            <col style="width:100px;">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>
                                                    Index
                                                </th>
                                                <th>Value</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <th>callback_kwargs</th>
                                <td class="values">
                                <table class="table vars">
                                    <colgroup>
                                        <col style="width:100px;">
                                    </colgroup>

                                    <tbody>

                                            <tr>
                                                <th>'project_id'</th>
                                                <td class="values">





                                    <pre>u'quizup-p<span></span>roduction'</pre>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>'team_slug'</th>
                                                <td class="values">
                                                    <pre>u'quizup'</pre>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        {{/each}}
        {{/each}}
    </div>
</div>
