<div class="row">
    <div class="col-sm-7 description">
        <h5></h5>
        <p><strong>Message</strong> initialize page layout</p>
    </div>
    <div class="col-sm-5">
        <div class="graph">
            <div class="scale">
                <div class="scale-line scale-line-0">
                    <span class="scale-label">0s</span>
                </div>
                <div class="scale-line scale-line-25">
                    <span class="scale-label">30s</span>
                </div>
                <div class="scale-line scale-line-50">
                    <span class="scale-label">60s</span>
                </div>
                <div class="scale-line scale-line-75">
                    <span class="scale-label">90s</span>
                </div>
            </div>
            <div class="blip-container" style="margin-left: 10%;">
                <div class="blip"></div>
                <div class="blip-label">10s</div>
            </div>
        </div>
    </div>
</div>
