{% load i18n %}
{% load sentry_helpers %}
{% load static_compiler %}

<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="robots" content="NONE,NOARCHIVE">

<link href="{% url 'sentry-media' "sentry" "images/favicon.ico" %}" rel="shortcut icon" type="image/png"/>

{% staticbundle 'sentry/css/sentry-simple.min.css' %}

<title>{% block title %}Sentry{% endblock %}</title>

<!--[if lt IE 9]>
<script type="text/javascript" src="{% url 'sentry-media' "sentry" "scripts/lib/html5shiv.js" %}"></script>
<![endif]-->

<script data-main="{% url 'sentry-media' 'sentry' 'main' %}"
        src="{% url 'sentry-media' 'sentry' 'vendor/requirejs/require.js' %}"></script>
<script src="{% url 'sentry-media' 'sentry' 'vendor/raven/raven.js' %}"></script>

<script>
window.SentryConfig = {};
window.SentryConfig.popupCss = '{% url 'sentry-media' "sentry" 'styles/popup.css' %}';
window.SentryConfig.mediaUrl = '{% url 'sentry-media' "sentry" '' %}';
window.SentryConfig.urlPrefix = {{ URL_PREFIX|to_json|safe }};
window.SentryConfig.lang = {{ request.LANGUAGE_CODE|to_json|safe }};
{% if project %}
    window.SentryConfig.projectId = {{ project.slug|to_json|safe }};
    window.SentryConfig.teamId = {{ project.team.slug|to_json|safe }};
{% elif team %}
    window.SentryConfig.projectId = null;
    window.SentryConfig.teamId = {{ team.slug|to_json|safe }};
{% else %}
    window.SentryConfig.projectId = null;
    window.SentryConfig.teamId = null;
{% endif %}
</script>

{% block meta %}
{% endblock %}
