<div class="box">
  <div class="box-header">
    <h4>Timeline</h4>
  </div>
  <div class="box-content with-padding">
      <ul class="timeline">
          <li class="timeline-item request">
            <div class="icon"></div>
            <time>2s</time>
            <h4>GET /login</h4>
          </li>
          <li class="timeline-item message">
            <div class="icon"></div>
            <time>16s</time>
            <h4><code>WARNING</code> Rejected authentication attempt using expired password</h4>
          </li>
          <li class="timeline-item error significant">
            <div class="icon"></div>
            <time>16s</time>
            <h4>URLError</h4>
            <p>urlopen error [Errno 111] Connection refused</p>
            <ol class="stacktrace">
              <li>
                <span class="lineno">19.</span>
                <span class="location">sentry/utils/safe.py</span>
                <span class="function">safe_execute</span>
              </li>
              <li>
                <span class="lineno">109.</span>
                <span class="location">sentry_webhooks/plugin.py</span>
                <span class="function">send_webhook</span>
              </li>
              <li>
                <span class="lineno">400.</span>
                <span class="location">urllib2.py</span>
                <span class="function">open</span>
              </li>
              <li>
                <span class="lineno">418.</span>
                <span class="location">urllib2.py</span>
                <span class="function">_open</span>
              </li>
              <li>
                <span class="lineno">378.</span>
                <span class="location">urllib2.py</span>
                 <span class="function">_call_chain</span>
              </li>
              <li>
                <span class="lineno">1215.</span>
                <span class="location">urllib2.py</span>
                <span class="function">https_open</span>
              </li>
              <li>
                <span class="lineno">1177.</span>
                <span class="location">urllib2.py</span>
                <span class="function">do_open</span>
              </li>
            </ol>
          </li>
      </ul>
  </div>
</div>

<div class="box">
    <div class="box-header">
        <a href="#" class="box-toggle"></a>
        <h4>Tags</h4>
    </div>
    <div class="box-content with-padding">
        <div class="row">
            <div class="col-sm-6">
                <ul class="tags">
                    <li><strong>level</strong> <a href="#">Error</a></li>
                    <li><strong>url</strong> <a href="#">https://app.getsentry.com/api/quizup/quizup-production/tags/search/?query=users-dev&quietMillis=300&name=url&limit=10</a></li>
                    <li><strong>server_name</strong> <a href="#">web-2</a></li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="tags">
                    <li><strong>logger</strong> <a href="#">root</a></li>
                    <li><strong>browser</strong> <a href="#">Chrome 32.0.1700.102</a></li>
                    <li><strong>os</strong> <a href="#">MacOs</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
