<div class="row">
    <div class="col-xs-8 col-md-10 col-lg-8 details">
        <div class="checkbox">
            <input type="checkbox">
        </div>
        <h3><a href="<%= permalink %>"><%= title %></a></h3>
        <div class="meta">
            <time class="last-seen pretty-date"></time> &middot;
            <span class="message"><%= message %></span>
        </div>
    </div>
    <div class="col-lg-2 hidden-md hidden-sm hidden-xs graph align-right">
        <barchart width="100%" height="37" style="display:block"></barchart>
    </div>
    <div class="col-sm-2 col-md-1 hidden-xs occurrences align-right">
        <span data-count="<%= app.utils.formatNumber(count) %>"><%= app.utils.formatNumber(count) %></span>
    </div>
    <div class="col-sm-2 col-md-1 hidden-xs users align-right"><span>209</span></div>
</div>
