<div class="page-header">
    <a ui-sref="create_access_group()" class="btn btn-default pull-right">New Access Group</a>
  <h3>Access Groups</h3>
</div>
<table class="table table-striped">
    <colgroup>
        <col/>
        <col width="150px"/>
    </colgroup>
    <thead>
        <tr>
            <th>Group</th>
            <th style="text-align:center;">Access</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="accessGroup in accessGroupList">
            <td>{{accessGroup.name}} <small ng-if="accessGroup.managed">automatically managed</small></td>
            <td style="text-align:center">{{accessGroup.access}}</td>
        </tr>
    </tbody>
</table>
