<header>
    <div class="container">
        <div class="pull-right">
            <ul class="user-nav">
                <li><a ui-sref="manage_team.settings()"><span class="icon-settings"></span> Team Settings</a></li>
                <li><a href="#"><span class="icon-envelope"></span> Support</a></li>
                <li class="dropdown-toggle"><a href="#"><span class="icon-arrow-down"></span> </a></li>
            </ul>
        </div>
        <div class="project-dropdown">
            <a href="#" class="team-name">
                {{selectedTeam.name}}
                <span class="icon-arrow-down"></span>
            </a>
        </div>
    </div>
</header>
<section id="content">
    <div class="container">
        <flash-messages></flash-messages>

        <div class="row">
            <div class="col-sm-3">
                <ul class="nav nav-pills nav-stacked">
                    <li ui-sref-active="active"><a ui-sref="manage_team.settings()">Settings</a></li>
                    <li ui-sref-active="active"><a ui-sref="manage_team.projects()">Projects</a></li>
                    <li ui-sref-active="active"><a ui-sref="manage_team.members()">Members</a></li>
                    <li ui-sref-active="active"><a ui-sref="manage_team.access_groups()">Access Groups</a></li>
                    <li class="divider"></li>
                    <li ng-if="selectedTeam.permission.admin"
                        ui-sref-active="active"><a ui-sref="manage_team.ownership()">Transfer Ownership</a></li>
                    <li ng-if="selectedTeam.permission.admin"
                        ui-sref-active="active"><a ui-sref="manage_team.delete()">Delete Team</a></li>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9" ui-view></div>
        </div>
    </div>
</section>
<!-- <footer>
    <div class="container">
        <div class="pull-right">
            <a href="#">Contribute</a>
            <a href="#">Translate</a>
        </div>
        Sentry 7.0.0-DEV (9765530)
    </div>
</footer> -->

