{% load i18n %}
{% load sentry_helpers %}
{% load static_compiler %}
{% get_sentry_version %}

<!DOCTYPE html>
<html lang="en">
    <head>{% include "sentry/includes/meta-head.html" %}</head>
    <body>
        {% block body %}
        {% block header %}
            <header>{% include "sentry/includes/header.html" %}</header>
        {% endblock %}
        {% block above_content %}{% endblock %}
        <section id="content" ng-controller="{% block controller %}{% endblock %}">
            <div class="container">
                {% block content_before %}{% endblock %}

                {% block content %}
                    {% block alerts %}
                        {% include "sentry/partial/alerts.html" %}
                    {% endblock %}

                    {% block page_header %}{% endblock %}

                    {% block main %}{% endblock %}

                    {% block sidebar %}{% endblock %}
                {% endblock %}

                {% block content_after %}{% endblock %}
            </div>
        </section>

        <footer>
            <div class="container">
                {% block footer %}
                    {% include "sentry/includes/footer.html" %}
                {% endblock %}
            </div>
        </footer>
        {% endblock %}
    </body>
</html>
